<html>

<head>
    {% load static %}
    <title>Ratatoulle | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'recipes/styles.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="nav-bar-login">
    <ul>
      <li><a href="login.html">Log In</a></li>
      <li><a href="signup.html">Sign Up</a></li>
    </ul>
  </nav>

    <main class="login-main">
  <div class="login-card">
    <h2>Login</h2>
    <p id="error-message"></p>

    <div class="login-form-group">
      {% csrf_token %}
      <label for="username">Username / Email</label>
      <input type="text" id="username" name="username" placeholder="Bo0oda / abcd@gmail.com">
    </div>
    <div class="login-form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="••••••••">
    </div>

    <button type="submit" class="btn-login" form="user-form">Login</button>

    <div class="login-footer">
      Don't have an account? <a href="signup.html">Sign up</a>
    </div>
  </div>
</main>
<script type="module" src="{% static 'recipes/login.js' %}"></script>
</body>

</html>
